@font-face {
    font-family: "charter_itc_pro";
    src: url("../fonts/CharterITCPro-Regular.woff");
}

@font-face {
    font-family: "trade_gothic_lt_pro";
    src: url("../fonts/TradeGothicLTPro-Cn18.woff");
}

html {
  font-family: charter_itc_pro;
}

ul {
  list-style: none;
}
#container {
  border: 1px solid black;
  margin: 5% 15% 5% 15%;
}

#content_container {
  display:block;
  margin: auto;
  width: 75%;
}

#carousel {
  display: block;
  width: 100%;
  height: 60%;
  position: relative;
  overflow: hidden;
}

#slides {
  display: block;
  position: relative;
  width: 300%;
  overflow: hidden;
}

#slides > li {
  width: 33.33%;
  float: left;
  position: relative;
  overflow: hidden;

}

#title {
  text-align: center;
  font-family: trade_gothic_lt_pro;
}

.subtitle {
  font-family: trade_gothic_lt_pro;
}

#bottom_container {
  display: inline-block;
  position: relative;
  width: 100%;
}

#right_bar {
  display: block;
  width: 25%;
  margin-left: 4%;
  padding: 3%;
  background-color: #f0f0eb;
  position: relative;
  float: right;
}

#left_container {
  width: 75%;
}

#left_bar {
  display: block;
  width: 20%;
  margin-right: 4%;
  padding: 3%;
  background-color: #f0f0eb;
  position: relative;
  float: left;
}

button {
  color: white;
  background-color: #5aaa50;
  border-radius: 4px;
}

.bottom_slide {
  display: none;
}

.bottom_slide img {
  position: relative;
  width: 100%;
}

.bottom_slide.active {
  display: block;
  position: relative;
}


.tabs a {
  text-decoration: none;
  padding-left: 10%;
  color: gray;
}

.tabs a.active {
  text-decoration: none;
  color: black;
}

.bottom_slide p {
  position: absolute;
  bottom: 0px;
}


